
#cl {
	width:1225px;
}
.top {
	background-image:url(images/bg.gif);
	background-repeat:no-repeat;
	height:225px;
}
.size {
	font-family:宋体;
	font-size:22px;
	position:relative;
	top:10px;
	left:120px;
}
.style li {
	display:inline;
}
.style li a {
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	line-height:40px;
}
.style li a:hover {
	color:#f9f603;
	text-decoration:underline;
}
.picture {
	position:relative;
	left:20px;
	float:left;
}
.ss {
	position:relative;
	top:25px;
	left:300px;
	background-color:#f8f5ee;
}
.s2 {
	position:relative;
	top:25px;
	left:290px;
	width:25px;
	background-color:#000;
	color:#fff;
	border:1px solid  #f8f5ee;
}
.pic {
	position:relative;
	top:25px;
	left:400px;
	height:110px;
	width:250px;
}
.content {
	width:800px;
	height:500px;
	overflow: hidden;
}
.mianbao {
	position:relative;
	left:140px;
}
.content-left {
	width:800px;
	float:left;
}
.li0 {
	font-size: 22px;
	height: 45px;
	width: 800px;
	line-height: 45px;
	text-align: center;
	border-bottom: 1px solid #c9baa5;
	float:left;
	position:relative;
	left:150px;
}
.li1 {
	font-size:14px;
	margin:10px;
	color:#757575;
	float:left;
    position:relative;
    left:450px;
}
.li2 {
	line-height: 28px;
	padding: 10px;
	float: left;
	width: 800px;
}
.p0 {
	position:relative;
	left:315px;
	width:550px;
}
.p1 {
	width:500px;
	height:500px;
}
p {
	text-indent:2em;
	position:relative;
	left:140px;
}
.la {
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	float: left;
	position:relative;
	left:275px;
}
.la1 {
	border-bottom: 1px solid #c9baa5;
	position:relative;
	top:50px;
	left:140px;
}
.xz {
	float:right;
}
.zd1 {
	height:200px;
}
.zd2 {
	line-height:25px;
	position:relative;
	left:50px;
}
.zd3 {
	position:relative;
	top:25px;
	left:300px;
	width:600px;
	height:50px;
	color:red;
	text-decoration:none;
}

