
#cl {
	width:1220px;
}
.top {
	background-image:url(images/bg.gif);
	background-repeat:no-repeat;
	height:225px;
}
.size {
	font-family:宋体;
	font-size:22px;
	position:relative;
	top:10px;
	left:120px;
}
.style li {
	display:inline;
}
.style li a {
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	line-height:40px;
}
.style li a:hover {
	color:#f9f603;
	text-decoration:underline;
}
.picture {
	position:relative;
	left:20px;
	float:left;
}
.ss {
	position:relative;
	top:25px;
	left:300px;
	background-color:#f8f5ee;
}
.s2 {
	position:relative;
	top:25px;
	left:290px;
	width:25px;
	background-color:#000;
	color:#fff;
	border:1px solid  #f8f5ee;
}
.pic {
	position:relative;
	top:25px;
	left:400px;
	height:110px;
	width:250px;
}
.mianbao {
	position:relative;
	left:140px;
}
.box{
	background:url(images/bj.png) no-repeat;
	height:400px;
	padding-left:25px;
	padding-right:30px;
	position:relative;
	top:10px;
	left:130px;
	float:left;
}
.one{
	background:url(images/header.png) no-repeat;
	height:60px;
	width:300px;
	padding:10px 100px;
}
.two{
	background:url(images/lvbiaoti.png) no-repeat;
	height:35px;
	width:300px;
	padding:10px 50px;
	color:white;
}
.three{
	padding:0px 50px;
	color:gray;
	background:url(images/baibiaoti.png) no-repeat;
	height:40px;
	width:300px;
	margin-top:0px;
	margin-bottom:0px;
}
.content1 {
	position:relative;
	left:-180px;
}
.content1 li {
	list-style-type:none;
}
.content1 li a {
	text-decoration:none;
	color:blue;
	line-height:35px;
}
.right1_5{
			float: left;
			line-height: 35px;
			position:relative;
			left:500px;
			top:-375px;
}
.right1_6 {
		list-style-type: none;
		}
.zs {
     position:relative;
     left:-50px;
}
.zs li {
	list-style-type:none;
	display:inline;
}
.zs li a {
	text-decoration:none ;
	color:#000;
}
.hh1 {
	width:800px;
	height:50px;
    color:red;
    position:relative;
    top:-300px;
    left:400px;
    clear:right;
}
}
